[submodule "src/warden"]
	path = src/warden
	url = https://github.com/cloudfoundry/warden.git
[submodule "src/services_warden"]
	path = src/services_warden
	url = https://github.com/cloudfoundry/warden.git
