<html>
<head>
  <style type="text/css">
    * {
      font-family: Arial, Helvetica, sans-serif;
    }

    p {
      max-width: 960px;
    }
  </style>
</head>
<body>

<h2> VMWARE CONTRIBUTION AGREEMENT </h2>

<p>
  This Contribution Agreement (&ldquo;Agreement&rdquo;) is entered into
  on <span id="date"></span> (the &ldquo;Effective Date&rdquo;) by and between VMware,
  Inc. (&ldquo;VMware&rdquo;), a Delaware corporation with a place of business at 3145 Porter
  Drive, Palo Alto, California 94304 and the Licensee.
</p>

<p>
In consideration of the mutual promises contained herein, the parties hereby agree to the following:
</p>

<ol>
  <li>
    <strong>Definitions.</strong>
    <p>
      "You" (or "Your") shall mean the copyright owner or legal entity
      authorized by the copyright owner that is making this Agreement
      with VMware. For legal entities the entity making a Contribution
      and all other entities that control, are controlled by, or are
      under common control with that entity are considered to be a
      single Contributor. For the purposes of this definition, "control"
      means (i) the power, direct or indirect, to cause the direction
      or management of such entity, whether by contract or otherwise,
      or (ii) ownership of fifty percent (50%) or more of the outstandin
      shares, or (iii) beneficial ownership of such entity. "Contribution"
      shall mean any original work of authorship, including any modifications
      or additions to an existing work, that is intentionally submitted by
      You to VMware for inclusion in, or documentation of, any of the
      projects owned or managed by the VMware (the "Project"). For the
      purposes of this definition, "submitted" means any form of electronic,
      verbal, or written communication sent to VMware or its representatives,
      including but not limited to communication on electronic mailing lists,
      source code control systems, and issue tracking systems that are managed
      by, or on behalf of, VMware for the purpose of discussing and improving
      the Project, but excluding communication that is conspicuously marked
      or otherwise designated in writing by You as "Not a Contribution."
    </p>
  </li>
  <li>
    <strong> License Grant.</strong>
    <p>
      VMware grants to Licensee a non-exclusive, worldwide, irrevocable,
      royalty-free license, to use, copy, make, have made, sell, offer to sell,
      modify, prepare derivative works of, and distribute the Contribution in
      binary and/or source versions under the licensing terms of your choice.
      VMware represents that it is the sole owner and author of the
      Contribution and has the right to grant this license to Licensee.
    </p>
  </li>
  <li>
    <strong>General Disclaimer.</strong>
    <p>
      Except as expressly described herein, the Contribution is provided
      &ldquo;AS-IS&rdquo;, WITHOUT SUPPORT AND WITHOUT WARRANTIES OR CONDITIONS
      OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION,
      ANY WARRANTIES OR CONDITIONS OF NON-INFRINGEMENT, MERCHANTABILITY, OR
      FITNESS FOR A PARTICULAR PURPOSE.
    </p>
  </li>
  <li>
    <strong>Limitation of Liability.</strong>
    <p>
      TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL
      VMWARE, ITS SUBSIDIARIES OR ITS AFFILIATES BE LIABLE FOR ANY DIRECT,
      SPECIAL, INCIDENTAL, PUNITIVE, INDIRECT, OR CONSEQUENTIAL DAMAGES
      WHATSOEVER (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS,
      LOST DATA, OR FOR BUSINESS INTERRUPTION) ARISING OUT OF OR IN ANY WAY
      RELATED TO THIS AGREEMENT OR THE USE OF OR INABILITY TO USE THE
      CONTRIBUTION, WHETHER BASED IN CONTRACT, TORT (INCLUDING NEGLIGENCE), OR
      OTHERWISE, AND EVEN IF VMWARE, ITS SUBSIDIARIES OR ITS AFFILIATES HAVE BEEN
      ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
    </p>
  </li>
  <li>
    <strong>Miscellaneous.</strong>
    <p>
      Licensee shall not assign this Agreement without the prior written
      consent of VMware.  This Agreement constitutes the entire agreement of
      the parties concerning the subject matter hereof and supersedes any prior
      or contemporaneous written or oral agreement.  No modification, amendment
      or waiver of any provision of the Agreement shall be effective unless in
      writing.  The Agreement shall be governed by the laws of the State of
      California, excluding its conflict of law rules.
    </p>
  </li>
</ol>

<p>
  IN WITNESS WHEREOF, the parties by their duly authorized representatives have
  executed this Agreement as of the Effective Date set forth above.
</p>

<p>
  VMware, Inc.			Licensee
</p>

<script type="text/javascript">
  var d = new Date();
  var monthNames = ["January", "February", "March", "April", "May",
                    "June", "July", "August", "September", "October",
                    "November", "December"];
  var dateContainer = document.getElementById("date");
  dateContainer.innerHTML = monthNames[d.getMonth()] + " " + d.getDate() + ", " + d.getFullYear();
</script>
</body>
</html>
